// Definindo cores
@primary-bg: #182C61;
@secondary-bg: #f5f6fa;
@text-color: #fff;
@button-color: #44bd32;
@button-hover-color: #4cd137;

// Definindo tamanhos para media queries
@media-breakpoint-md: 1023px;
@media-breakpoint-sm: 767px;
